
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}
body{
    background-color:#21323B;
  
}
.group {
    box-shadow: rgb(0, 0, 0) -5px 2px 54px -9px;
}
